<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Criar módulo</h1>
    Nome: <input type="text" name="module_name">
    <br>
    Descricao: <input type="text" name="module_desc">
    <br>
    Matéria: <select>
        <option></option>
        <option>Português</option>
        <option value="">Matemática</option>
        <option value="">Inglẽs</option>
        <option value="">História</option>
        <option value="">Geografia</option>
        <option value="">Ciências</option>
    </select>
    <br>
</body>
</html>