<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Criar aula</h1>
    Titulo: <input type="text" name="lesson_title">
    <br>
    Descrição: <input type="text" name="lesson_desc">
    <br>
    Url: <input type="text" name="lesson_url">
    <br>
    Módulo: <select name="" name="lesson_module"></select>
    User: <input type="text" hidden>
</body>
</html>